@import url('https://fonts.googleapis.com/css?family=Roboto');

.features {
    margin-top: auto;
	padding: 30px 0px 0px 0px;
    
}
.proj {
    margin-bottom: 100px;
}

.features figure {
    margin: auto;
    padding: 5px;
	text-align: center;
    transition: all 0.2s
    
}

.features figure img {
	border-radius: 2%;
	width: 340px;
	height: 200px;
    
}

.features figure img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    filter: brightness(150%);
    transition: all 0.2s;
    opacity: 1;
}

.features figure:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow:0px 0px 20px rgba(0,0,0,.5);
    transition: all 0.2s;
}

.features figure {
    margin: 20px;
}

.features figure:first-child {
    padding-top: 0px;
}

.features figure:hover a{
    color: #eebe7a;
}

figure figcaption {
    font-family: 'Roboto Thin', sans-serif;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1140px) {
    .features {
        display: block;
    }

    figure figcaption {
        font-family: 'Roboto Thin', sans-serif;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .features figure img {
        border-radius: 2%;
        width: 300px;
        height: 160px;
    }

    li {
        font-size: 24px;
    }

    section div {
        font-family: 'Roboto Thin', sans-serif;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        
    }
}

@media screen and (max-width: 760px) {
    li {
        font-size: 14px;
    }

    .features figure img {
        width: 240px;
        height: 135px;
    }

    figure figcaption {
        margin-bottom: 0;
    }

    section header {
        font-size: 36px;
    }

    section div {
        font-family: 'Roboto Thin', sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
}

@media screen and (max-width: 650px) {
    li {
        font-size: 12px;
    }

    .features figure:first-child {
        margin-top: 100px;
    }

    @media screen and (max-width: 404px){
        .logo {
            font-size: 16px;
        }
    }
}