@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');


header {
    display: block;
}

#btnMenu, label  {
    display: none;
}
html::selection {
   background-color: #eebe7a; 
}

body {
    background-image: linear-gradient(145deg, #133a55, #148D8D 55%);
    background-repeat: no-repeat;
    background-size: 4000px 6000px;
    color: white;
}
.hub:hover {
    color: #eebe7a;
}


/* fadeIn */

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

/* fadeIn */

/* muda cor dependendo da pagina (header) */

#principal {
    color: #0E2C40;
}

#principal:hover {
    color: #eebe7a;
}

/* muda cor dependendo da pagina (header) */

/* Sublinhado no header */

a.cima {
    position: relative;
    color: aliceblue;
    text-decoration: none;  
}

a.cima:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #eebe7a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.cima:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

  /* Sublinhado no header */

  li.logo {
    display: flex;
    padding: 0px;
  }

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html {
    display: block;
}

section nav {
    font-family: 'Roboto Thin';
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* Botão */

section .meubotao,.meubotao1 {
    font-family: 'Roboto';
    font-size: 24px;
    color: #0E2C40;
    background: #eebe7a;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}

a {
    transition: all 0.2s;
    text-decoration: none;
    color: aliceblue;
}

li.logo a {
    color: #eebe7a;
}

a.meubotao:hover,.meubotao1:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: aliceblue;
}

.meubotao1 {
    transform-style: preserve-3d;
    perspective: 150px;
}

.meubotao1:after {
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 6px;
    position: absolute;
    background: #eebe7a;
    border-radius: 5px;
    box-sizing: border-box;
    content: '↓';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}


.meubotao1:hover{
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);

}
/* Botão */

.cardall {
    box-shadow:0px 0px 20px rgba(0,0,0,.5);
}

.card {
    display: flex;
}

.card img {
    height: 250px;
    width: 250px;
    margin: 5px;
}

.card img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(110%);
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}

p, .par {
    transition: all 0.1s;
}

.par {
    padding-top: 150px;
}
.cima:hover {
    color: #eebe7a;
}

li:first-child {
    float: left;
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}

section header {
    margin-top: 0px;
    font-family: 'Roboto Thin';
    font-size: 62px;
    margin-bottom: 20px;
    margin-left: 17%;
    margin-right: 17%;
}

.home {
    margin-top: 220px;
}

section {
    text-align: center;
    padding: 8%;
}

footer {
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    transition: all 0.2s;
}

footer {
    display: block;
}

.texto {
    text-align: center;
}

.botoes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 5px;
}

.botoes img {
    padding-left: 10px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.texto {
    text-align: justify;
    margin-left: 15px;
    margin-right: 5px;
}

.botoes a {
    box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);
    padding-right: 5px;
}

.botoes a:hover img{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}


.botoes a:hover, .botoes img:hover {
    color: #eebe7a;
}

/* Imagens da pg contato */

.features figure {
    scale: 10px;
    display: inline-block;
    padding: 25px;
    margin: 2px;
    position: relative;
    top: -200px;
}

.features figure img {
    border-radius: 10%;
    width: 75px;
    height: 75px;
    opacity: 1;
}

figure img:hover {
    opacity: 0.5;
}

img {
    transition: all 0.1s;
}

img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(0.9);
    color: aliceblue;
}

/* Imagens da pg contato */

p.foter {
    opacity: 0.5;
}

p.foter:hover {
    opacity: 1;
}

/* Responsividade */

@media screen and (max-width: 1140px) {
    section nav {
        font-family: 'Roboto Thin';
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 24px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }


    .features figure img {
        height: 50px;
        width: 50px;

    }

    .features figure {

        padding: 10px 10px;
    }
    a.cima:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .card img {
        height: 160px;
        width: 160px;
        margin: auto 5px;
    }

    .botoes img {
        padding-left: 10px;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        margin-top: 5px;
    }
    
}

@media screen and (max-width: 760px) {
    

    li {
        font-size: 16px;
    }

    section header {
        font-size: 42px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 36px;
    }

    footer {
        font-size: 15px;
    }

    header .logo a {
        height: 50px;
        width: 60px;
        background-size: 50px;
    }

    .par, .home {
        font-size: 50px;
    }

    p.texto {
        font-size: 22px;
    }

    .features figure img {
        height: 30px;
        width: 30px;
    }

    .features figure {

        padding: 70px 10px;
    }

    a.cima:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
    }
    .card {
        display: block;
    }
    .card img {
        height: 200px;
        width: 200px;
        display: block;
        margin: 5px auto;
    }

    .botoes img {
        padding-left: 10px;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 600px) {
    li a.cima {
        font-size: 12px;
    }

    section nav {
        font-size: 14px;
        line-height: 26px;
    }

    section .meubotao, .meubotao1 {
        font-size: 14px;
    }

    section .meubotao:hover {
        background: white;
        font-size: 14px;
        margin-top: 29px;
    }

    .par, .home {
        font-size: 34px;
    }

    .foter {
        font-size: 12px;
    }

    .features figure img {
        height: 25px;
        width: 25px;

    }

    .features figure:first-child {
        padding-top: 100px;
    }

    .features figure img {
        height: 24px;
        width: 24px;
    }

    p.texto {
        font-size: 20px;
    }

    .features figure {

        padding: 125px 10px;
    }
    a.cima:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
    }

    .botoes img {
        padding-left: 10px;
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    @media screen and (max-width: 485px) {
        li.logo {
            padding-right: 0;
            padding-left: 0;
        }

        li a.cima {
            padding-right: 0;
            padding-left: 0;
        }

        ul.topnav {
            padding: 0;
        }

    }

    @media screen and (max-width: 440px) {
        ul {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0;
            margin: 5px;
        }
    }

    
    @media screen and (max-width: 404px){
        html, body {
            overflow-x: hidden;
        }

        li {
            padding: 0;
            margin: 5px;
        }
        ul {
            margin: 0px;
            padding: 0px;
        }
        .meubotao {
            font-size: 10px;
        }
        li a.cima:first-child {
            top: 0;
            right: 0;
            margin-left: 200px;
        }
        li a.cima {
            visibility: visible;
            opacity: 0;
            font-size: 20px;
            padding: 5px 10px;
            left: 150px;
            -webkit-transform: scale(0);
            transform: scale(0);
            transition: all 0.2s linear;
        }
        header.home {
            margin-top: 0px;
            padding-top: 0;
        }
        label {
            display: block;
            height: 40px;
            width: 40px;
            float: right;
            padding-bottom: 15px;
            transition: all 0.2s;
        }

        label:active {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        input:checked + .checkbox-wrapper li a.cima {
            visibility: visible;
            opacity: 1;
            left: 0px;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .botoes img {
            padding-left: 10px;
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

        .botoes {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-bottom: 5px;
        }

    }

    @media screen and (max-width: 364px) {

        ul .meubotao{
            font-size: 11px;
        }
    }

}